*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
captures/
.externalNativeBuild/
.cxx/
*.aab
output-metadata.json
*.log

# Keystore files
*.jks
*.keystore

# Android Profiling
*.hprof
